{% extends 'todolist/base.html' %}

{% block content %}
<h1>{{todo_by_day.month_name}} {{todo_by_day.day}}, {{todo_by_day.year}}</h1>

<table class="table table-sm">
    {% for todo in todo_by_day.day_todoes %}
    <tr>
        <th scope="col"><a href="{% url 'todo' todo.pk %}">{{todo.title}}</a></th>
        <th scope="col">{{todo.timestamp_todo.date}}</th>
        <th>
            {% if todo.tags %}
            {% for tag in todo.tags.all %}
            <a href="#" class="badge badge-primary">{{tag.tag_name}}</a>
            {% endfor %}
            {% endif %}
        </th>
        <th scope="col">
            <form action="{% url 'edit_todo' todo.id%}" method="get" name="todoes">
                <button type="submit" class="btn btn-outline-info btn-sm" name="edit">Edit</button>
                <input type="hidden" value="{{todo.id}}" name="todo_id">
                <input type="hidden" value="day_view" name="from">
                <input type="hidden" value="{{todo_by_day.day}}" name="day">
                <input type="hidden" value="{{todo_by_day.month}}" name="month">
                <input type="hidden" value="{{todo_by_day.year}}" name="year">
            </form>
        </th>
        <th scope="col">
            <form action="{% url 'done_todo'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm" name="done_todo">Done</button>
                <input type="hidden" value="{{todo.id}}" name="todo_id">
            </form>
        </th>
        <th scope="col">
            <form action="{% url 'remove_todo'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm" name="remove_todo">Remove</button>
                <input type="hidden" value="{{todo.id}}" name="todo_id">
            </form>
        </th>
    </tr>
    {% endfor %}
</table>
<br>
<hr>
<h3>Add new Todo</h3>
<form action="{% url 'day_view' year=todo_by_day.year month=todo_by_day.month day=todo_by_day.day %}" method="post">
    {% csrf_token %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">{{ errors }}</div>
    {% endif %}

    {% for f in form %}
    <p>{{f.label}}: {{f}}</p>
    {% endfor %}
    <input type="hidden" value="todoes" name="from">
    <p><input type="submit" value="Add Todo!" class="btn btn-primary"></p>
</form>

{% endblock %}