{% extends 'todolist/base.html' %}

{% block title %}Log-in{% endblock %}
{% block content %}
<div class="form-group">
    <h1>Log-in</h1>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% if errors %}
            <div class="alert alert-danger" role="alert">{{ errors }}</div>
            {% endif %}

            {% for f in form %}
            <p>{{f.label}}: {{f}}</p>
            {% endfor %}
            <p><input type="submit" value="Submit!" class="btn btn-primary"></p>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
</div>
{% endblock %}