{% extends 'todolist/base.html' %}
{% load template_filters %}

{% block content %}
<div>
    <h1>{{todo_calendar.month_name}}, {{todo_calendar.year}}</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for h in todo_calendar.days_of_the_week %}
            <th>{{h}}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for weeks in todo_calendar.month_days %}
        <tr>
            {% for d in weeks %}
            <td>
                <div>
                    <table class="table table-borderless">
                        {% if d == todo_calendar.today.day and todo_calendar.month == todo_calendar.today.month %}
                        <tr style="align left top">
                            <span class="badge badge-pill badge-primary">{{d}} </span>
                        </tr>
                        {% elif d != 0 %}
                        <tr style="align left top">{{d}}</tr>
                        {% endif %}


                        {% for todo in todo_calendar.month_todoes|get_dict_value:d|slice:"3" %}
                        <li style="font-size: small"><a href="{% url 'todo' todo.pk %}">{{todo.title}}</a></li>
                        {% endfor %}
                        {% if todo_calendar.month_todoes|get_dict_value:d %}
                        <a href="{% url 'day_view' year=todo_calendar.year month=todo_calendar.month day=todo_calendar.day %}"
                           style="font-size: small">
                            Go to date >>
                        </a>
                        {% endif %}
                    </table>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <span>
    <form action="{% url 'calendar_view' %}" method="get">
        <button type="submit" class="btn btn-outline-primary"><<< Prev month</button>
        <input type="hidden" value="{{todo_calendar.month|add:'-1'}}" name="month">
        <input type="hidden" value="{{todo_calendar.year}}" name="year">
    </form>
    <form action="{% url 'calendar_view' %}" method="get">
        <button type="submit" class="btn btn-outline-primary">Next month >>></button>
        <input type="hidden" value="{{todo_calendar.month|add:'1'}}" name="month">
        <input type="hidden" value="{{todo_calendar.year}}" name="year">
    </form>
    </span>
</div>
{% endblock %}